@page "/fetchdata"
@using FurnitureMovement.Data
@using FurnitureMovement.Services
@inject WeatherForecastService ForecastService
@inject IOrderService OrderService

<PageTitle>Оснастка</PageTitle>

<h1>Заказ оснастки</h1>

<p>This component demonstrates fetching data from a service.</p>
<button class="btn btn-primary" @onclick="OnInitializedAsync">Обновить</button>

@if (orders == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Drawning</th>
                <th>Furniture</th>
                <th>AdmissionDate</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <td>@order.Number.</td>
                    <td>@order.Drawning</td>
                    <td>@order.Furniture</td>
                    <td>@order.AdmissionDate</td>
                    <td>@order.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Order> orders = new();

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
        orders = await OrderService.GetAllOrders(); // Как сделать чтобы работало
    }
}
